@keyframes slide-down {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
#header {
	@include absolute(0,null,0,null);
	width: 100%;
	background: #fff;
	z-index: 9999;
	transition: 0.3s ease;
	@media screen and (max-width: 991px) {
		background: $blue;
	}
	.navbar {
		padding: {
			left: 0;
			right: 0;
		}
		.navbar-brand {
			color: $blue;
			font-size: 22px;
			@media screen and (max-width: 991px) {
				color: #fff;
			}
			&::after {
				content: "";
				background: $blue;
				@include absolute(null,-2px,0,0);
				width: 0%;
				height: 2px;
				transition: all 0.3s ease;
				opacity: 0;
				visibility: hidden;
			}
			&:hover {
				&::after {
					opacity: 1;
					visibility: visible;
					width: 100%;
				}
			}
		}
		.navbar-toggler {
			border: 0;
			outline: 0;
			.line {
				background: #fff;
				height: 2px;
				width: 23px;
				display: block;
				margin: 5px 0;
				transition: 0.3s;
			}
			&.is-active {
				.line {
					&:nth-child(2) {
						opacity: 0;
					}
					&:nth-child(1) {
						transform: translateY(5px) rotate(45deg);
					}
					&:nth-child(3) {
						transform: translateY(-9px) rotate(-45deg);
					}
				}
			}
		}
		.navbar-nav {
			.nav-item {
				@media screen and (min-width: 992px) {
					padding: {
						left: 1rem;
						right: 1rem;
					}
				}
			}
			.nav-link {
				@media screen and (min-width: 992px) {
					padding: {
						left: 0;
						right: 0;
					}
				}
			}
			.list-group-item {
				font-size: 15px;
				background: transparent;
				color: #fff;
				border: 0;
				@media screen and (min-width: 992px) {
					border: 0;
					font-size: 18px;
				    font-weight: 500;
				    color: #666!important;
				    background: transparent;
				    transition: 0.3s ease;
				    padding: {
				    	top: 1.25rem;
				    	bottom: 1.25rem;
				    }
				    &:hover {
						color: $blue!important;
				    }
				    &::after {
				    	content: "";
				    	background: $blue;
				    	@include absolute(null,10px,0,0);
				    	width: 100%;
				    	height: 2px;
				    	opacity: 0;
				    	visibility: hidden;
				    	transition: 0.3s ease;
				    }
				    &.active {
				    	color: $blue!important;
						&::after {
							opacity: 1;
							visibility: visible;
						}
				    }
				}
			}
		}
	}
	&.is-sticky {
		position: fixed;
		animation-name: slide-down;
		animation-duration: 1s;
		box-shadow: 0 3px 10px rgba(0,0,0,.15);
	}
}